<center>
    <img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/Logos/organization_logo/organization_logo.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

# Assignment: Notebook for Peer Assignment

Estimated time needed: 45 minutes

# Assignment Scenario

Congratulations! You have just been hired by a US Venture Capital firm as a data analyst.

The company is considering foreign grain markets to help meet its supply chain requirements for its recent investments in the microbrewery and microdistillery industry, which is involved with the production and distribution of craft beers and spirits.

Your first task is to provide a high level analysis of crop production in Canada. Your stakeholders want to understand the current and historical performance of certain crop types in terms of supply and price volatility. For now they are mainly interested in a macro-view of Canada's crop farming industry, and how it relates to the relative value of the Canadian and US dollars.

# Introduction

Using this R notebook you will:

1.  Understand four datasets
2.  Load the datasets into four separate tables in a Db2 database
3.  Execute SQL queries unsing the RODBC R package to answer assignment questions

You have already encountered two of these datasets in the previous practice lab. You will be able to reuse much of the work you did there to prepare your database tables for executing SQL queries.

# Understand the datasets

To complete the assignment problems in this notebook you will be using subsetted snapshots of two datasets from Statistics Canada, and one from the Bank of Canada. The links to the prepared datasets are provided in the next section; the interested student can explore the landing pages for the source datasets as follows:

1.  <a href="https://www150.statcan.gc.ca/t1/tbl1/en/tv.action?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMRP0203ENSkillsNetwork23863830-2021-01-01&pid=3210035901">Canadian Principal Crops (Data & Metadata)</a>
2.  <a href="https://www150.statcan.gc.ca/t1/tbl1/en/tv.action?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMRP0203ENSkillsNetwork23863830-2021-01-01&pid=3210007701">Farm product prices (Data & Metadata)</a>
3.  <a href="https://www.bankofcanada.ca/rates/exchange/daily-exchange-rates?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMRP0203ENSkillsNetwork23863830-2021-01-01">Bank of Canada daily average exchange rates</a>

### 1. Canadian Principal Crops Data \*

This dataset contains agricultural production measures for the principle crops grown in Canada, including a breakdown by province and teritory, for each year from 1908 to 2020.

For this assignment you will use a preprocessed snapshot of this dataset (see below).

A detailed description of this dataset can be obtained from the StatsCan Data Portal at:
[https://www150.statcan.gc.ca/t1/tbl1/en/tv.action?pid=3210035901](https://www150.statcan.gc.ca/t1/tbl1/en/tv.action?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMRP0203ENSkillsNetwork23863830-2021-01-01&pid=3210035901)\
Detailed information is included in the metadata file and as header text in the data file, which can be downloaded - look for the 'download options' link.

### 2. Farm product prices

This dataset contains monthly average farm product prices for Canadian crops and livestock by province and teritory, from 1980 to 2020 (or 'last year', whichever is greatest).

For this assignment you will use a preprocessed snapshot of this dataset (see below).

A description of this dataset can be obtained from the StatsCan Data Portal at:
[https://www150.statcan.gc.ca/t1/tbl1/en/tv.action?pid=3210007701](https://www150.statcan.gc.ca/t1/tbl1/en/tv.action?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMRP0203ENSkillsNetwork23863830-2021-01-01&pid=3210007701)
The information is included in the metadata file, which can be downloaded - look for the 'download options' link.

### 3. Bank of Canada daily average exchange rates \*

This dataset contains the daily average exchange rates for multiple foreign currencies. Exchange rates are expressed as 1 unit of the foreign currency converted into Canadian dollars. It includes only the latest four years of data, and the rates are published once each business day by 16:30 ET.

For this assignment you will use a snapshot of this dataset with only the USD-CAD exchange rates included (see next section). We have also prepared a monthly averaged version which you will be using below.

A brief description of this dataset and the original dataset can be obtained from the Bank of Canada Data Portal at:
[https://www.bankofcanada.ca/rates/exchange/daily-exchange-rates/](https://www.bankofcanada.ca/rates/exchange/daily-exchange-rates/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMRP0203ENSkillsNetwork23863830-2021-01-01)

( \* these datasets are the same as the ones you used in the practice lab)

### Dataset URLs

1.  Annual Crop Data: <https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-RP0203EN-SkillsNetwork/labs/Final%20Project/Annual_Crop_Data.csv>

2.  Farm product prices: <https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-RP0203EN-SkillsNetwork/labs/Final%20Project/Monthly_Farm_Prices.csv>

3.  Daily FX Data: <https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-RP0203EN-SkillsNetwork/labs/Final%20Project/Daily_FX.csv>

4.  Monthly FX Data: <https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-RP0203EN-SkillsNetwork/labs/Final%20Project/Monthly_FX.csv>

<span style="color:red">**IMPORTANT:**</span> You will be loading these datasets directly into R data frames from these URLs instead of from the StatsCan and Bank of Canada portals. The versions provided at these URLs are simplified and subsetted versions of the original datasets.

#### Now let's load these datasets into four separate Db2 tables.

Let's first load the RODBC package:

In [1]:
library(RODBC)

## Problem 1

#### Create tables

Establish a connection to the Db2 database, and create the following four tables using the RODBC package in R.
Use the separate cells provided below to create each of your tables.

1.  **CROP_DATA**
2.  **FARM_PRICES**
3.  **DAILY_FX**
4.  **MONTHLY_FX**

The previous practice lab will help you accomplish this.

### Solution 1

In [2]:
# Establish database connection

dsn_driver <- "{IBM DB2 ODBC Driver}"
dsn_database <- "bludb"            
dsn_hostname <- "55fbc997-9266-4331-afd3-888b05e734c0.bs2io90l08kqb1od8lcg.databases.appdomain.cloud"  
dsn_port <- "31929"               
dsn_protocol <- "TCPIP"           
dsn_uid <- "gmx74666"        
dsn_pwd <- "0L7nXAM2OKo5TGZs"
dsn_security <- "ssl"

#connecting to IBM DB2 database
conn_path <- paste("DRIVER=",dsn_driver,
                  ";DATABASE=",dsn_database,
                  ";HOSTNAME=",dsn_hostname,
                  ";PORT=",dsn_port,
                  ";PROTOCOL=",dsn_protocol,
                  ";UID=",dsn_uid,
                  ";PWD=",dsn_pwd,
                  ";SECURITY=",dsn_security,        
                    sep="")
conn_path
conn <- odbcDriverConnect(conn_path)

sql.info <- sqlTypeInfo(conn)
conn.info <- odbcGetInfo(conn)
conn.info

[1] "DRIVER={IBM DB2 ODBC Driver};DATABASE=bludb;HOSTNAME=55fbc997-9266-4331-afd3-888b05e734c0.bs2io90l08kqb1od8lcg.databases.appdomain.cloud;PORT=31929;PROTOCOL=TCPIP;UID=gmx74666;PWD=0L7nXAM2OKo5TGZs;SECURITY=ssl"

       DBMS_Name         DBMS_Ver  Driver_ODBC_Ver Data_Source_Name
"DB2/LINUXX8664"     "11.05.0600"          "03.51"               ""
     Driver_Name       Driver_Ver         ODBC_Ver      Server_Name
      "libdb2.a"     "11.05.0600"          "03.52"            "DB2"

In [3]:
# CROP_DATA:
qCrop <- "CREATE TABLE CROP_DATA (
         CROP_DATE DATE NOT NULL,
         CROP_TYPE CHAR(20) NOT NULL,
         GEO CHAR(20) NOT NULL,
         SEEDED_AREA INT NOT NULL,
         HARVESTED_AREA INT NOT NULL,
         PRODUCTION INT NOT NULL,
         AVG_YIELD INT NOT NULL)"
CROP_DATA <- sqlQuery(conn, qCrop, errors=FALSE)

In [4]:
# FARM_PRICES:
qPrice <- "CREATE TABLE FARM_PRICES (
          PRICE_DATE DATE NOT NULL,
          CROP_TYPE CHAR(20) NOT NULL,
          GEO CHAR(20) NOT NULL,
          PRICE_PER_MT FLOAT NOT NULL)"
FARM_PRICES <- sqlQuery(conn, qPrice, errors=FALSE)

In [5]:
# DAILY_FX:
qDailyFX <-  "CREATE TABLE DAILY_FX (
             FX_DATE DATE NOT NULL,
             FXUSDCAD FLOAT NOT NULL)"
DAILY_FX <- sqlQuery(conn, qDailyFX, errors=FALSE)

In [6]:
# MONTHLY_FX:
qMonthlyFX <-  "CREATE TABLE MONTHLY_FX (
               FX_DATE DATE NOT NULL,
               FXUSDCAD FLOAT NOT NULL)"
MONTHLY_FX <- sqlQuery(conn, qMonthlyFX, errors=FALSE)

In [7]:
tab.frame <- sqlTables(conn, schema="GMX74666")
nrow(tab.frame)
tab.frame$TABLE_NAME
tab.frame

[1] 27

 [1] "BANKACCOUNTS"                      "BIKE_SHARING_SYSTEMS"
 [3] "BOARD"                             "CENSUS_DATA"
 [5] "CHICAGO_CRIME_DATA"                "CHICAGO_PUBLIC_SCHOOLS"
 [7] "CHICAGO_SOCIOECONOMIC_DATA"        "CITIES_WEATHER_FORECAST"
 [9] "CROP_DATA"                         "DAILY_FX"
[11] "DEPARTMENTS"                       "EMPLOYEES"
[13] "FARM_PRICES"                       "INSTRUCTOR"
[15] "INTERNATIONAL_STUDENT_TEST_SCORES" "JOBS"
[17] "JOB_HISTORY"                       "LOCATIONS"
[19] "MONTHLY_FX"                        "PETRESCUE"
[21] "PETSALE"                           "SCHOOL"
[23] "SCHOOLS"                           "SEOUL_BIKE_SHARING"
[25] "SHOESHOP"                          "WORLD_CITIES"
[27] "CHICAGO_SCH_COL_RENAME"

   TABLE_CAT TABLE_SCHEM TABLE_NAME                        TABLE_TYPE REMARKS
1            GMX74666    BANKACCOUNTS                      TABLE
2            GMX74666    BIKE_SHARING_SYSTEMS              TABLE
3            GMX74666    BOARD                             TABLE
4            GMX74666    CENSUS_DATA                       TABLE
5            GMX74666    CHICAGO_CRIME_DATA                TABLE
6            GMX74666    CHICAGO_PUBLIC_SCHOOLS            TABLE
7            GMX74666    CHICAGO_SOCIOECONOMIC_DATA        TABLE
8            GMX74666    CITIES_WEATHER_FORECAST           TABLE
9            GMX74666    CROP_DATA                         TABLE
10           GMX74666    DAILY_FX                          TABLE
11           GMX74666    DEPARTMENTS                       TABLE
12           GMX74666    EMPLOYEES                         TABLE
13           GMX74666    FARM_PRICES                       TABLE
14           GMX74666    INSTRUCTOR                        TABLE
15           GMX74666    INTERNATIONAL_STUDENT_TEST_SCORES TABLE
16           GMX74666    JOBS                              TABLE
17           GMX74666    JOB_HISTORY                       TABLE
18           GMX74666    LOCATIONS                         TABLE
19           GMX74666    MONTHLY_FX                        TABLE
20           GMX74666    PETRESCUE                         TABLE
21           GMX74666    PETSALE                           TABLE
22           GMX74666    SCHOOL                            TABLE
23           GMX74666    SCHOOLS                           TABLE
24           GMX74666    SEOUL_BIKE_SHARING                TABLE
25           GMX74666    SHOESHOP                          TABLE
26           GMX74666    WORLD_CITIES                      TABLE
27           GMX74666    CHICAGO_SCH_COL_RENAME            VIEW

## Problem 2

#### Read Datasets and Load Tables

Read the datasets into R dataframes using the urls provided above. Then load your tables.

### Solution 2

In [8]:
crop_URL <- "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-RP0203EN-SkillsNetwork/labs/Final%20Project/Annual_Crop_Data.csv"
crop_df<- read.csv(crop_URL, header=TRUE, sep=",")
#redundant index column removed:
crop_df$index <- NULL
#head(crop_df)
sqlSave(conn, crop_df, "CROP_DATA", append=TRUE, fast=FALSE, rownames=FALSE, colnames=FALSE, verbose=FALSE )

In [22]:
#I dropped all tables because data was appended to already existing tables
#sqlDrop(conn, "GMX74666.MONTHLY_FX")

In [9]:
price_URL <- "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-RP0203EN-SkillsNetwork/labs/Final%20Project/Monthly_Farm_Prices.csv"
farmprice_df <- read.csv(price_URL, header=TRUE, sep=",")
#redundant 'index'column removed
farmprice_df$index <- NULL
#farmprice_df
sqlSave(conn, farmprice_df, "FARM_PRICES", append=TRUE, fast=FALSE, rownames=FALSE, colnames=FALSE, verbose=FALSE )

In [10]:
DayfxURL <- "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-RP0203EN-SkillsNetwork/labs/Final%20Project/Daily_FX.csv"
dailyFx_df <- read.csv(DayfxURL,  header=TRUE, sep=",")
#redundant 'index'column removed
dailyFx_df$index <- NULL
#dailyFx_df
sqlSave(conn, dailyFx_df, "DAILY_FX", append=TRUE, fast=FALSE, rownames=FALSE, colnames=FALSE, verbose=FALSE )

In [11]:
monthFxURL <- "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-RP0203EN-SkillsNetwork/labs/Final%20Project/Monthly_FX.csv"
monthlyFx_df <- read.csv(monthFxURL, header=TRUE, sep=",")
#redundant 'index'column removed
monthlyFx_df$index <- NULL
#monthlyFx_df
sqlSave(conn, monthlyFx_df, "MONTHLY_FX", append=TRUE, fast=FALSE, rownames=FALSE, colnames=FALSE, verbose=FALSE )

## Now execute SQL queries using the RODBC R package to solve the assignment problems.

## Problem 3

#### How many records are in the farm prices dataset?

### Solution 3

In [15]:
head(crop_df)

  YEAR       cropType GEO          seededArea harvestedArea production avgYield
1 1965-12-31 Barley   Alberta      1372000    1372000       2504000    1825
2 1965-12-31 Barley   Canada       2476800    2476800       4752900    1920
3 1965-12-31 Barley   Saskatchewan  708000     708000       1415000    2000
4 1965-12-31 Canola   Alberta       297400     297400        215500     725
5 1965-12-31 Canola   Canada        580700     580700        512600     885
6 1965-12-31 Canola   Saskatchewan  224600     224600        242700    1080

In [12]:
query <- "SELECT count(*) as FarmPricesCount FROM FARM_PRICES"
FarmPrice_rec <- sqlQuery(conn, query)
FarmPrice_rec

  FARMPRICESCOUNT
1 2678

## Problem 4

#### Which geographies are included in the farm prices dataset?

### Solution 4

In [13]:
query <- "SELECT DISTINCT(GEO) AS GEOGRAPHIES FROM FARM_PRICES"
Geographic_Loc <- sqlQuery(conn, query)
Geographic_Loc

  GEOGRAPHIES
1 Alberta
2 Saskatchewan

## Problem 5

#### How many hectares of Rye were harvested in Canada in 1968?

### Solution 5

In [28]:
query <- "SELECT SUM(HARVESTED_AREA) AS Total_rye_Hec FROM CROP_DATA WHERE CROP_TYPE='Rye' AND YEAR(CROP_DATE) = 1968 AND GEO = 'Canada'"
total_Rye_Harvested <- sqlQuery(conn, query)
total_Rye_Harvested

  TOTAL_RYE_HEC
1 274100

## Problem 6

#### Query and display the first 6 rows of the farm prices table for Rye.

### Solution 6

In [29]:
query <- "SELECT * FROM FARM_PRICES WHERE CROP_TYPE='Rye' LIMIT 6"
rye_6rows <- sqlQuery(conn, query)
rye_6rows

  PRICE_DATE CROP_TYPE            GEO                  PRICE_PER_MT
1 1985-01-01 Rye                  Alberta              100.77
2 1985-01-01 Rye                  Saskatchewan         109.75
3 1985-02-01 Rye                  Alberta               95.05
4 1985-02-01 Rye                  Saskatchewan         103.46
5 1985-03-01 Rye                  Alberta               96.77
6 1985-03-01 Rye                  Saskatchewan         106.38

## Problem 7

#### Which provinces grew Barley?

### Solution 7

In [30]:
query <- "SELECT DISTINCT(GEO) AS BARLEY_PROVINCE FROM CROP_DATA WHERE CROP_TYPE='Barley'"
barley_Prov <- sqlQuery(conn, query)
barley_Prov

  BARLEY_PROVINCE
1 Alberta
2 Canada
3 Saskatchewan

## Problem 8

#### Find the first and last dates for the farm prices data.

### Solution 8

In [31]:
query <- "SELECT MIN(PRICE_DATE) AS FIRST_DATE,
        MAX(PRICE_DATE) AS LAST_DATE FROM FARM_PRICES"

First_Last <- sqlQuery(conn, query)
First_Last

  FIRST_DATE LAST_DATE
1 1985-01-01 2020-12-01

## Problem 9

#### Which crops have ever reached a farm price greater than or equal to $350 per metric tonne?

### Solution 9

In [32]:
query <- "SELECT DISTINCT(CROP_TYPE) FROM FARM_PRICES
            WHERE PRICE_PER_MT >= 350"
crop_350 <- sqlQuery(conn, query)
crop_350

  CROP_TYPE
1 Canola

## Problem 10

#### Rank the crop types harvested in Saskatchewan in the year 2000 by their average yield. Which crop performed best?

### Solution 10

In [34]:
query <- "SELECT CROP_TYPE, GEO, AVG_YIELD, CROP_DATE FROM CROP_DATA
        WHERE YEAR(CROP_DATE)=2000 AND GEO='Saskatchewan'        
        ORDER BY 3 DESC"
sask_yieldRank <- sqlQuery(conn, query)
sask_yieldRank

print("THE CROP THAT PERFORMED BEST: ")

paste(sask_yieldRank$CROP_TYPE[1], "PERFORMED BEST!" )

  CROP_TYPE            GEO                  AVG_YIELD CROP_DATE
1 Barley               Saskatchewan         2800      2000-12-31
2 Wheat                Saskatchewan         2200      2000-12-31
3 Rye                  Saskatchewan         2100      2000-12-31
4 Canola               Saskatchewan         1400      2000-12-31

[1] "THE CROP THAT PERFORMED BEST: "

[1] "Barley               PERFORMED BEST!"

## Problem 11

#### Rank the crops and geographies by their average yield (KG per hectare) since the year 2000. Which crop and province had the highest average yield since the year 2000?

### Solution 11

In [58]:
query <- "SELECT CROP_TYPE, GEO, AVG(AVG_YIELD) AS AVGE_YIELD, CROP_DATE FROM CROP_DATA
        GROUP BY CROP_TYPE, GEO, CROP_DATE
        HAVING YEAR(CROP_DATE) >= 2000
        ORDER BY AVG(AVG_YIELD) DESC"
crop_rank_avg_yield <- sqlQuery(conn, query)
head(crop_rank_avg_yield)

# #Highest average yield
# query2 <- "SELECT AVG_YIELD, GEO, CROP_TYPE, CROP_DATE FROM CROP_DATA WHERE AVG_YIELD = (SELECT MAX(AVG_YIELD) FROM CROP_DATA) AND YEAR(CROP_DATE)>=2000"
# highest_avgYield_cropAndProvince <- sqlQuery(conn, query2)

# paste("THE CROPS AND/OR PROVINCES WITH THE HIGHEST YIELD(S) IS/are AS FOLLOWS:")
# highest_avgYield_cropAndProvince
# paste(highest_avgYield_cropAndProvince$GEO[1], " HAD THE HIEGHEST YIELD")

  CROP_TYPE            GEO                  AVGE_YIELD CROP_DATE
1 Barley               Alberta              4100       2013-12-31
2 Barley               Alberta              4100       2016-12-31
3 Barley               Alberta              3980       2020-12-31
4 Wheat                Alberta              3900       2013-12-31
5 Wheat                Alberta              3900       2016-12-31
6 Barley               Canada               3900       2016-12-31

## Problem 12

#### Use a subquery to determine how much wheat was harvested in Canada in the most recent year of the data.

### Solution 12

In [59]:
query <- "SELECT SUM(PRODUCTION) AS WHEAT_SUM_RECENT_YEAR FROM CROP_DATA WHERE CROP_TYPE='Wheat' AND GEO = 'Canada' AND ((YEAR(CROP_DATE)) = (SELECT MAX(YEAR(CROP_DATE)) FROM CROP_DATA))"

recent_wheat <- sqlQuery(conn, query)
recent_wheat

  WHEAT_SUM_RECENT_YEAR
1 35183000

## Problem 13

#### Use an implicit inner join to calculate the monthly price per metric tonne of Canola grown in Saskatchewan in both Canadian and US dollars. Display the most recent 6 months of the data.

### Solution 13

In [60]:
query <- "SELECT FP.CROP_TYPE, FP.GEO, MF.FX_DATE, FP.PRICE_DATE,  MF.FXUSDCAD AS FXUSDCAD, FP.PRICE_PER_MT AS CANADA_PRICE_PER_MT,
        (FP.PRICE_PER_MT / MF.FXUSDCAD) AS USDPRICE_PER_MT  FROM MONTHLY_FX AS MF, FARM_PRICES AS FP
        WHERE FP.PRICE_DATE = MF.FX_DATE AND FP.CROP_TYPE='Canola' AND FP.GEO= 'Saskatchewan'
        ORDER BY FP.PRICE_DATE DESC LIMIT 6"
sqlQuery(conn, query)

  CROP_TYPE            GEO                  FX_DATE    PRICE_DATE FXUSDCAD
1 Canola               Saskatchewan         2020-12-01 2020-12-01 1.280771
2 Canola               Saskatchewan         2020-11-01 2020-11-01 1.306820
3 Canola               Saskatchewan         2020-10-01 2020-10-01 1.321471
4 Canola               Saskatchewan         2020-09-01 2020-09-01 1.322810
5 Canola               Saskatchewan         2020-08-01 2020-08-01 1.322205
6 Canola               Saskatchewan         2020-07-01 2020-07-01 1.349850
  CANADA_PRICE_PER_MT USDPRICE_PER_MT
1 507.33              396.1130
2 495.64              379.2718
3 474.80              359.2966
4 463.52              350.4056
5 464.60              351.3827
6 462.88              342.9122

In [62]:
close(conn)

ERROR: Error in odbcClose(con): argument is not an open RODBC channel

## Author(s)

<h4> Jeff Grossman </h4>

## Contributor(s)

<h4> Rav Ahuja </h4>

## Change log

| Date       | Version | Changed by    | Change Description                                                                                         |
| ---------- | ------- | ------------- | ---------------------------------------------------------------------------------------------------------- |
| 2021-04-01 | 0.7     | Jeff Grossman | Split Problem 1 solution cell into multiple cells, fixed minor bugs                                        |
| 2021-03-12 | 0.6     | Jeff Grossman | Cleaned up content for production                                                                          |
| 2021-03-11 | 0.5     | Jeff Grossman | Moved more advanced problems to optional honours module                                                    |
| 2021-03-10 | 0.4     | Jeff Grossman | Added introductory and intermediate level problems and removed some advanced problems                      |
| 2021-03-04 | 0.3     | Jeff Grossman | Moved some problems to a new practice lab as prep for this assignment                                      |
| 2021-03-04 | 0.2     | Jeff Grossman | Sorted problems roughly by level of difficulty and relegated more advanced ones to ungraded bonus problems |
| 2021-02-20 | 0.1     | Jeff Grossman | Started content creation                                                                                   |

## <h3 align="center"> © IBM Corporation 2021. All rights reserved. <h3/>